// Place all the styles related to the dropbox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table-bordered{
	margin-top: 30px;
}
.breadcrumb {
	margin: 0 0 -25px;
}
.modal.fade {
	margin-top: 12%;
}
#content{
	margin-top: 25px;
}